<DOCTYPE html>
<html lang="en">
          <form action="success.html" method="POST">
            <input class="email" text-align="center" title="Your email address will be safe with us." placeholder="Enter your email address" type="email" name="email_name" required>
            <input title="Your email address will be safe with us." placeholder="Enter your height" type="text" name="height_name" required>
            <button class="go-button" type="submit">Submit</button>
          </form>
</html>
